body, html {
  height: 100%;
  margin: 0;
  background-color: #000;
}

.background {
  background-image: url("../img/dark-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  color: #fff;
  margin: 0;
  font-size: 50pt;
}

a.menu {
  color: #fff;
  font-family: sans-serif;
}

a.menu:hover {
  color: #aaa;
}

p {
  color: #fff;
  font-family: sans-serif;
  margin: 0;
}
