body, html {
  height: 100%;
  margin: 0;
  background-color: #111;
  font-family: sans-serif;
}

.background {
  background-image: url("../img/dark-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: #fff;
  margin: 0;
  font-size: 40pt;
}

h1.subtitle {
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 15pt;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

a.menu {
  color: #fff;
}

a.menu:hover {
  color: #aaa;
}

a.return {
  color: #fff;
  text-decoration: none;
}

a.return:hover {
  color: #aaa;
}

p {
  color: #fff;
  margin: 0;
}
