@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1.home {
	color: #ffffff;
	margin: 0;
	font-size: 75;
	font-family: "Oswald", sans-serif;
}

p.home {
	color: #ffffff;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}

a.home {
	color: #ffffff;
}

a.home:hover {
	color: #c5c5c5;
}
